:root {
  --zg-section-actions-gap: var(--zg-spacing-2);
  --zg-section-actions-nav-gap: var(--zg-spacing-2);

  --zg-section-actions-all-min-width-sm: var(--zg-spacing-16);
  --zg-section-actions-all-min-width-md: var(--zg-spacing-20);
  --zg-section-actions-all-min-width-lg: var(--zg-spacing-24);

  --zg-section-actions-nav-min-width-sm: var(--zg-spacing-8);
  --zg-section-actions-nav-min-width-md: var(--zg-spacing-10);
  --zg-section-actions-nav-min-width-lg: var(--zg-spacing-12);
}
